@use '/src/styles/_variables' as *;

.users-list {
  display: flex;
  flex-direction: column;
  row-gap: 15px;

  .debt {
    border-color: red;
  }

  .title-avatar {
    display: flex;
    align-content: center;
    align-items: center;
    gap: 10px;
  }
}