// General
$body-background-color: whitesmoke;
$max-content-width: 1200px;

$primary-color: #f5f5f5;
$secondary-color: #fafafa;
$border-color: #ddd;
$text-color: #333;
$font-family: Arial, sans-serif;
$hover-color: rgba(0, 0, 0, 0.1);

// Statuses
$success-color: #4caf50;
$error-color: #ff4d4d;

// Transaction modal
$background-light: #f9f9f9;