@use '/src/styles/_variables' as *;

.add-expense-modal {
  background-color: hsla(0, 0%, 13%, 0.5);

  > .add-expense-modal-content {
    position: relative;
  }

  .close-button {
    position: absolute;
    top: 24px;
    right: 24px;
    cursor: pointer;
  }
}

.add-expense-button {
  position: sticky !important; // todo tg change that with styled MUI
  top: 72px; // header height
  margin: 10px 0;
  bottom: 20px;
  width: 100%;
  z-index: 2; // TODO TG this is causing issues in modal (covers select options)
  max-width: $max-content-width;
}