@use '/src/styles/_variables' as *;

.add-expense-modal {
  background-color: hsla(0, 0%, 13%, 0.5);

  > .add-expense-modal-content {
    position: relative;
  }

  .close-button {
    position: absolute;
    top: 24px;
    right: 24px;
    cursor: pointer;
  }
}
