@use '/src/styles/_variables' as *;

body {
  background-color: $body-background-color;
}

.app-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-radius: 8px;
  margin: 20px auto 1000px;
  min-height: 100vh;
  gap: 20px;
  max-width: $max-content-width;
  font-family: $font-family;

  header {
    position: sticky;
    top: 0;
    z-index: 2;
  }
}